[defaults]
inventory = ${PWD}/inventory.yaml
vault_password_file = ~/.ansible/vault-pass
callback_result_format = yaml

check_mode_markers = true
show_task_path_on_failure = true

display_skipped_hosts = false

ansible_python_interpreter = /usr/bin/python3
interpreter_python = auto_silent
