@define-color white rgba(239, 239, 239, 1);
@define-color black rgba(10, 10, 10, 1);
@define-color dark  rgba(28, 28, 28, 1);
@define-color grey  rgba(80, 80, 80, 1);
@define-color mid   rgba(100, 100, 100, 1);
@define-color red   rgba(178, 52, 80, 1);

* {
    border: none;
    border-radius: 0;
    font-family: lemon;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background: @dark ;
    border-right: 2px solid @mid;
    color: @white;
    border-radius: 0px 0px 0px 0px;
}

window#waybar.empty #window {
    background-color: transparent;
}

#clock { 
    padding: 8px 0px 0px 0px;
}

#tray { 
    padding: 0px 0px 8px 0px;
}

tooltip {
    background: @dark;
    border: 2px solid @white;
}

tooltip label {
    color: @white;
}

#workspaces button {
    color: @white;
    border-right: 2px solid transparent;
    padding: 10px 8px 10px 8px;
}

button.focused {
    border-right: 2px solid @white;
    border-color: @white;
    color: @white;
    transition-duration: 0.2s ease-in-out;
}

button.empty {
    color: @grey;
}

button:hover {
    color: @dark;
    background: @white;
}

#mode {
    background: @black;
}

#tray menu {
    color: @white;
    background: @dark;
    border: 2px solid @white;
}

#systemd-failed-units {
    background: @dark;
    border-right: 2px solid @white;
}

#systemd-failed-units.ok {
    background: @dark;
    border-right: 2px solid @white;
}

#systemd-failed-units.degraded {
    color: @white;
    border-right: 2px solid @red;
    padding: 0px 0px 0px 0px;
}
    
@keyframes blink {
    to {
        background-color: @white;
        color: @black;
    }
}
