@define-color bright rgba(239, 239, 239, 1);
@define-color white  rgba(217, 234, 226, 1);
@define-color black  rgba(10, 10, 10, 1);
@define-color dark   rgba(52, 52, 52, 1);
@define-color grey   rgba(80, 80, 80, 1);
@define-color mid    rgba(128, 128, 128, 1);
@define-color red    rgba(178, 52, 80, 1);

* {
    border: none;
    border-radius: 0;
    font-family: scientifica;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background: @black;
    border-right: 4px solid @dark;
    color: @white;
    border-radius: 0px 0px 0px 0px;
}

window#waybar.empty #window {
    background-color: transparent;
}

tooltip {
    background: @black;
    border: 2px solid @white;
}

tooltip label {
    color: @white;
}

#custom-launcher {
    border-right: transparent;
    padding: 12px 0px 12px 0px;
}

#custom-launcher:hover {
    color: @black;
    background: @white;
}

#workspaces button {
    color: @white;
    border-right: 4px solid transparent;
    padding: 12px 0px 12px 0px;
}

#workspaces button.focused {
    color: @white;
    border-right: 4px solid @bright;
    border-color: @white;
}

#workspaces button.empty {
    color: @grey;
}

#workspaces button:hover {
    color: @black;
    background: @white;
    transition-duration: 0.1s;
}

#taskbar button {
    color: @white;
    border-right: 4px solid transparent;
    padding: 12px 0px 12px 0px;
}

#taskbar button.active {
    border-right: 4px solid @bright;
}

#taskbar button:hover {
    color: @black;
    background: @white;
    transition-duration: 0.1s;
}

#tray {
    padding: 6px 0px 8px 0px;
}

#tray menu {
    color: @white;
    background: @black;
    border: 2px solid @white;
}

#temperature {
    padding: 4px 0px 4px 0px;
    color: @white;
}

#temperature.critical {
    color: @red;
}

#network {
    color: @white;
}

#network.disconnected {
    color: @red;
}

#clock {
    padding: 8px 2px 8px 0px;
}

#clock {
    padding: 8px 2px 8px 0px;
}

@keyframes blink {
    to {
        background-color: @white;
        color: @black;
    }
}