[Unit]
PartOf=graphical-session.target
Requires=graphical-session.target niri.service
After=graphical-session.target niri.service

[Service]
ExecStart=/usr/bin/swaybg -m fill -i "%h/usr/backs/black_waves.jpg"
Restart=on-failure
