// fyr niri cfg
include "dark_theme.kdl"
include "input.kdl"
include "layout.kdl"
include "output.kdl"
include "rules.kdl"
include "overview.kdl"
include "animations.kdl"

// startup
spawn-at-startup "steam" "-silent"
spawn-at-startup "xwayland-satellite" ":0"

prefer-no-csd
screenshot-path "~/%s.png"
hotkey-overlay { skip-at-startup; }

environment {
    DISPLAY ":0"
    AMD_USERQ "1"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
}
