layout {
    focus-ring {
        active-color "#D9EAE2"
    }

    border {
        urgent-color "#B23450"
        active-color "#D9EAE2"
        inactive-color "#0A0A0A"
    }

    tab-indicator {
        urgent-color "#B23450"
        active-color "#D9EAE2"
        inactive-color "#0A0A0A"
    }

    shadow {
        color "#0A0A0A"
        inactive-color "#0A0A0A"
    }

    background-color "#0A0A0A"
}

recent-windows {
    highlight {
        active-color "#D9EAE2"
        urgent-color "#B23450"
    }
}
