layout {
    gaps 8

    struts {
        left 4
        right 0
        top -2
        bottom 2
    }

    // behaviour
    default-column-width { proportion 0.33333; }
    center-focused-column "never"
    // always-center-single-column

    preset-column-widths {
        proportion 0.25
        proportion 0.4
        proportion 0.6
    }

    preset-window-heights {
        proportion 0.5
        proportion 0.6667
        proportion 0.75
    }

    focus-ring {
        width 2
    }

    tab-indicator {
        hide-when-single-tab
        place-within-column
        gap 8
        width 10
        gaps-between-tabs 20
        length total-proportion=0.75
        position "left"
        corner-radius 4
    }

    insert-hint {
        off
    }

    shadow {
        on
        softness 8
        spread 2
        offset x=2 y=2
        draw-behind-window true
    }

    border {
        width 2
    }
}
