// nothing to do with layout really
// but having rounded corners work better here...
window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

layout {
    gaps 10

    struts {
        left 6
        right 6
        top -2
        bottom 2
    }

    // behaviour
    default-column-width { proportion 0.33333; }
    center-focused-column "never"
    // always-center-single-column

    preset-column-widths {
        proportion 0.25
        proportion 0.33
        proportion 0.50
        proportion 0.67
    }

    preset-window-heights {
        proportion 0.25
        proportion 0.50
        proportion 0.67
        proportion 1.0
    }

    focus-ring {
        width 2
    }

    tab-indicator {
        hide-when-single-tab
        place-within-column
        gap 8
        width 8
        gaps-between-tabs 12
        length total-proportion=0.25
        position "right"
        corner-radius 2
    }

    insert-hint {
        off
    }

    shadow {
        on
        softness 12
        spread 3
        offset x=2 y=2
        draw-behind-window false
    }

    border {
        width 2
    }
}