overview {
    zoom 0.75

    workspace-shadow {
        off
        softness 12
        spread 8
        offset x=0 y=0
    }
}

layout {
    background-color "transparent"
}

// make wallpaper layer be treated as backdrop
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

gestures {
    hot-corners {
        bottom-left
    }
}

recent-windows {
    debounce-ms 1000
    open-delay-ms 0

    highlight {
        padding 10
        corner-radius 4
    }

    previews {
        max-height 1080
        max-scale 0.75
    }

    // binds {
    //     Super+Tab         { next-window     scope="output"; }
    //     Super+Shift+Tab   { previous-window scope="output"; }
    // }
}
