// assignment
workspace "☰" { open-on-output "DP-2"; }
workspace "☱" { open-on-output "DP-2"; }
workspace "☲" { open-on-output "DP-2"; }
workspace "☳" { open-on-output "DP-2"; }
workspace "☴" { open-on-output "DP-2"; }
workspace "☵" { open-on-output "DP-2"; }
workspace "☶" { open-on-output "DP-2"; }
workspace "☷" { open-on-output "DP-2"; }

// general
window-rule {
    match app-id="foot"
    default-column-width { proportion 0.25; }
}

// dash
window-rule {
    match app-id=r#"qutebrowser|google-chrome"#
    default-column-width { proportion 0.5; }
    open-focused false
}

// game
window-rule {
    match app-id=r#"steam|Lutris"#
    open-on-workspace "☱"
    default-column-width { proportion 0.3; }
}

window-rule {
    match app-id=r#"steam_app_|gamescope"#
    open-on-workspace "☱"
    open-fullscreen true
}

window-rule {
    match app-id=r#"steam_app_1469060|steam_app_1231210|steam_app_824270|Breach"#
    open-on-workspace "☱"
    min-width 1800
}

window-rule {
    match app-id=r#"discord|Element|WebCord"#
    open-on-workspace "☱"
    open-focused false
}

// rdp
window-rule {
    match app-id="org.remmina.Remmina" title="ember.lan"
    open-on-workspace "☲"
    open-maximized-to-edges true
}

window-rule {
    match app-id="org.remmina.Remmina"
    open-on-workspace "☲"
    open-focused true
    open-floating true
}

// content
window-rule {
    match app-id="com.obsproject" title=r#"^OBS$"#
    open-on-workspace "☳"
    open-maximized-to-edges true
    min-width 850
    min-height 400
}

window-rule {
    match app-id="com.obsproject"
    open-on-workspace "☳"
    open-focused true
    open-floating true
}

//

// floating windows
window-rule {
    match app-id=r#"mpv|FTL|resolve|wine"#
    open-floating true
}
